<!DOCTYPE html>
<!-- Commenting out original Thymeleaf-enabled HTML tag as test -->
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}"> -->
<html xmlns:th="http://www.thymeleaf.org"> <!-- Namespace not technically required, but it does eliminate IDE warnings -->

<head>
<title>Yet Another "Stack in a Semester" Project - main page</title>
</head>

<body>

<h1>Yet Another "Stack in a Semester" Project</h1>
<h3>AKA YASIAS</h3>

<div style="border: none; display: block; clear: both;">

<div style="width: 48%; float: left; border: 1px solid black; margin: 1px;">
  <!-- IF NO USERNAME SELECTED  -->
  <div th:if="${currentUser} == 'anonymous'">
    <h2>Welcome, guest!</h2>
  </div>
  <!-- ELSE -->
  <div th:unless="${currentUser} == 'anonymous'">
    <h2 th:text="|Hello, you are using the system as ${currentUser}.|">[welcome and user ID text]</h2>
  </div>
  
  Want to <a href="/useradd" th:href="|/useradd?name=${currentUser}|">add a new user</a>?
  
  <div th:unless="${currentUser} == 'anonymous'">
    Or <a href="userdelete" th:href="|/userdelete?name=${currentUser}|">delete your account</a>?
  </div>
  
  <h2>Existing users:</h2>

  <ul th:each="name : ${names}">
    <li><a href="#" th:href="|/?name=${name}|" th:text="${name}">[name]</a>
  </ul>
</div>

<div style="width: 48%; float: right; border: 1px solid black; margin: 1px;">

<h2>This is a Q&#38;A site, so...</h2>

Want to <a href="/ask" th:href="|/ask?name=${currentUser}|">ask a new question</a>?

<h2>Existing questions</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Tags</th>
    <th>Timestamp</th>
    <th>Score</th>
  </tr>

  <tr th:each="question : ${questions}">
    <td><a href="/question" th:href="|/question?id=${question.id}&name=${currentUser}|" th:text="${question.title}">[title]</a></td>
    <td>[tags]</td>
    <td th:text="${question.timestamp}">[timestamp]</td>
    <td th:text="${question.score}">[score]</td>
  </tr>
</table>
</div>

</div>

<p style="clear: both;">Note for potential future employers: I know there are tons of bad web application practices here. This was written for a databases class, not a web app or software development class, and the grade was entirely for DB design and connectivity.

</body>
</html>
