<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="|Yet Another Stack in a Semester Project - Edit question ${title}|">Yet Another "Stack in a Semester" Project - Edit question [question title]</title>
</head>

<body>
  <h1>Edit an existing YASIAS question</h1>

  <form method="post">
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="newdata" value="true">
    <input type="hidden" name="name" value="currentUserName" th:value="${currentUser}">

    <input type="hidden" name="author" value="anonymous" th:value="${currentUser}">
    <label for="question">Your question: </label>
    <textarea name="body" required maxlength="30000" rows="30" cols="80" th:text="${body}">Your question body here</textarea><!-- Body -->
    <br />
    <label for="tags">Tags for this question: </label>
    <input type="text" name="tags" required th:value="${tags}"><!-- Tags -->
    <br />
    <label for="title">Summarize your question in a short title (max 50 chars): </label>
    <input type="text" name="title" required maxlength="50" th:value="${title}"><!-- Title -->
    <br />
    <input type="submit" value="Update this question">
  </form>

  <p>Done with edits? <a href="/" th:href="|/question?id=${qid}|">Return to the question</a> or <a href="/" th:href="|/?name=${currentUser}|">return to main page</a>
</body>
</html>
