<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="|Yet Another Stack in a Semester Project - ${title}|">Yet Another "Stack in a Semester" Project - [question title]</title>
</head>

<body>

  <p>Done? <a href="/" th:href="|/?name=${currentUser}|">Return to main page</a>
  
  <hr />

<div><!-- Div enclosing entire question -->

  <span th:text="|Score: ${score}|">[question score]</span>

  <h1 th:text="${title}">[question title]</h1>

  <div>
  Question tags go here. [java] [sql] [heroku]
  </div>

  <br />
  <div th:utext="${body}">
  Question body text goes here. Lorem ipsum dolor sit amet...
  </div>
  <br />

  Author: <span th:text="${author}">Author name goes here.</span>
  <br />
  <span th:text="${timestamp}">timestamp</span>

  <!-- Voting buttons -->  
  <form method="get"> <!-- Results in /question?upvote=true -->
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="upvote" value="true">
    <input type="submit" value="Upvote">
  </form>
  <form method="get"> <!-- Results in /question?downvote=true -->
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="downvote" value="true">
    <input type="submit" value="Downvote">
  </form>

  <p><a href="questionedit" th:href="|/questionedit?name=${currentUser}&id=${qid}|">Edit this question</a></p>
  <p><a href="questiondelete" th:href="|/questiondelete?name=${currentUser}&id=${qid}|">Delete this question</a></p>

  <ul>
  <li>Comments on question, if any, go here
  </ul>

</div><!-- Div enclosing entire question -->

<p>TODO: Option to sort answers by score/date

<hr />

<!-- Answers go below here -->

<!-- TODO: use Thymeleaf to automatically order these -->

<!-- FOR EACH ANSWER: -->
<div><!-- Div enclosing entire answer -->

<form method="get">
<input type="hidden" name="upvote" value="true">
<input type="submit" value="Upvote"><!-- Upvote button -->
</form>
<span>Answer score</span>
<form method="get">
<input type="hidden" name="downvote" value="true">
<input type="submit" value="Downvote"><!-- Downvote button -->
</form>

<div>
Answer body text goes here. Lorem ipsum dolor sit amet...
</div>

<a href="/answeredit" th:href="|/answeredit?name=${currentUser}|">Edit this answer</a>

<ul>
<li>Comments on answer, if any, go here
</ul>

</div><!-- Div enclosing entire answer -->

</body>
</html>
