<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="|Yet Another Stack in a Semester Project - ${title}|">Yet Another "Stack in a Semester" Project - [question title]</title>
</head>

<body>

  <p>Done? <a href="/" th:href="|/?name=${currentUser}|">Return to main page</a>
  
  <hr />

<div><!-- Div enclosing entire question -->

  <span th:text="|Score: ${score}|">[question's score]</span>

  <h1 th:text="${title}">[question title]</h1>

  <div th:text="${tags}">
  Question tags go here. [java] [sql] [heroku]
  </div>

  <br />
  <div th:utext="${body}">
  Question body text goes here. Lorem ipsum dolor sit amet...
  </div>
  <br />

  Author: <span th:text="${author}">Author name goes here.</span>
  <br />
  <span th:text="${timestamp}">timestamp</span>

  <!-- Voting buttons -->  
  <form method="post" th:unless="${existingQVote} == 'upvote'"> <!-- Results in /question?upvote=true -->
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="upvoteQ" value="true">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Upvote this question">
  </form>
  <form method="post" th:unless="${existingQVote} == 'novote'">
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="cancelvoteQ" value="true">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Cancel your vote on the question">
  </form>
  <form method="post" th:unless="${existingQVote} == 'downvote'"> <!-- Results in /question?downvote=true -->
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="downvoteQ" value="true">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Downvote this question">
  </form>
  
  <p><span th:text="|This question was last modified by ${author} at ${timestamp}.|">This question was last modified by [name] at [time].</span>

  <p><a href="/questionedit" th:href="|/questionedit?name=${currentUser}&id=${qid}|">Edit this question</a></p>
  <p><a href="/questiondelete" th:href="|/questiondelete?name=${currentUser}&id=${qid}|">Delete this question</a></p>

  <ul>
  <li>Comments on question, if any, go here
  </ul>
  
  <p><a href="/answer" th:href="|/answer?name=${currentUser}&qid=${qid}&questionTitle=${title}|">Answer this question</a></p>

</div><!-- Div enclosing entire question -->

<p>TODO: Option to sort answers by score/date

<hr />

<!-- Answers go below here -->

<!-- TODO: use Thymeleaf to automatically order these -->

<!-- FOR EACH ANSWER: -->
<div th:each="answer : ${answers}"><!-- Div enclosing entire answer -->

  <span th:text="|Score: ${answer.score}|">[answer's score]</span>

  <br />
  <div th:utext="${answer.body}">
  Answer body text goes here. Lorem ipsum dolor sit amet...
  </div>
  <br />

  <!-- Voting buttons -->  
  <form method="post" th:unless="${answer.currentUserVote} == 'upvote'">
    <input type="hidden" name="answerId" value="-1" th:value="${answer.id}">
    <input type="hidden" name="upvoteA" value="true">
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Upvote the above answer">
  </form>
  <form method="post" th:unless="${answer.currentUserVote} == 'novote'">
    <input type="hidden" name="answerId" value="-1" th:value="${answer.id}">
    <input type="hidden" name="cancelvoteA" value="true">
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Cancel your vote on the above answer">
  </form>
  <form method="post" th:unless="${answer.currentUserVote} == 'downvote'">
    <input type="hidden" name="answerId" value="-1" th:value="${answer.id}">
    <input type="hidden" name="downvoteA" value="true">
    <input type="hidden" name="id" value="-1" th:value="${qid}">
    <input type="hidden" name="name" value="anonymous" th:value="${currentUser}">
    <input type="submit" value="Downvote the above answer">
  </form>
  
  <p><span th:text="|This answer was last modified by ${answer.author} at ${answer.timestamp}.|">This question was last modified by [name] at [time].</span>
  
  <p><a href="/answeredit" th:href="|/answeredit?name=${currentUser}&id=${answer.id}&qid=${qid}|">Edit this answer</a></p>
  <p><a href="/answerdelete" th:href="|/answerdelete?name=${currentUser}&id=${answer.id}&qid=${qid}|">Delete this answer</a></p>

  <ul>
    <li>Comments on answer, if any, go here
  </ul>
  
  <hr />

</div><!-- Div enclosing entire answer -->

</body>
</html>
